################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/JoaoHong.APICollection/.vs/JoaoHong.APICollection/FileContentIndex
